<:Body>
    
  {{ if preview_mode? }}
          
    <div class="manage-entry diagonal-bracket-container small-brackets">

      <div class="bracket top-left">
        <div class="bracket-element">┏</div>
        <h4>view/edit {{category_data[current_category][:entry_term]}} details</h4>
        <div class="bracket-element">━</div>
      </div>


        <div class="entry">

          <div class="function">{{ model.function }}</div>
          <div class="execution">{{model.execution}}</div>

          <div class="extra_info">{{ model.extra_info }}</div>

          {{ if example.present? }}
            <p><strong>Example: </strong>{{model.example}}</p>
          {{ end }}
        </div>

        <div class="bracket bottom-right">
          <div class="bracket-element">━</div>
              <button e-click="open_form">edit this {{category_data[current_category][:entry_term]}}</button>
          <div class="bracket-element middle">‑</div>
            <button e-click="stop_managing">close window</button>
          <div class="bracket-element">┛</div>
        </div>
    </div>



  {{ elsif form_mode? }}
  
    <form e-submit="update" class="manage-entry diagonal-bracket-container small-brackets">
      <div class="bracket top-left">
        <div class="bracket-element">┏</div>
        <h4>editing {{category_data[current_category][:entry_term]}} details</h4>
        <div class="bracket-element">━</div>
      </div>

      <div class="fields">
        <div class="field">
          <label for="function">{{category_data[current_category][:function_term]}}</label>
          <input name="function" id="function" type="text" class="validate" value="{{ buffer.function }}" placeholder="e.g. {{category_data[current_category][:function_example]}}">
        </div>

        <div class="field">
          <label for="execution">{{category_data[current_category][:execution_term]}}</label>
          <input name="execution" id="execution" type="text" class="validate" value="{{ buffer.execution }}" placeholder="e.g. {{category_data[current_category][:execution_example]}}">
        </div>

        <div class="field">
          <label for="tags">Tags</label>
          <input name="tags" id="tags" type="text" class="validate" value="taggytag" placeholder="e.g. #some #awesome #tags">
        </div>

        <div class="preview">
          {{buffer.execution}}
          <br>
          <span class="tags">some tags</span>
        </div>

        <div class="field">
          <label for="example">Example (optional)</label>
          <input name="example" id="example" type="text" class="validate" value="{{ buffer.example }}">
        </div>

        <div class="preview">
          {{buffer.example}}
        </div>

        <div class="field">
          <label for="extra_info">Extra Info (if any)</label>
          <input name="extra_info" id="extra_info" type="text" class="validate" value="{{ buffer.extra_info }}">
        </div>
      </div>

      <div class="bracket bottom-right">
        <div class="bracket-element">━</div>
        <a class="button" e-click="close_form">cancel editing</a>
        <div class="bracket-element middle">‑</div>
        <button>update</button>
        <div class="bracket-element middle">‑</div>
        <a class="button" e-click="destroy">delete</a>
        <div class="bracket-element">┛</div>
      </div>
    </form>
  {{ end }}
